@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.header{
    background: #519872;
    color: white;
    height: 75px;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    text-align: center;
}