@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: #AFD4C0;
  
}

.grBox{
  display: flex;
  justify-content: space-around
}